/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
.container {
	padding: 1em;
	background-color: #fff;
}



/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (min-width: 720px) {

	/* container on larger screens */
	.container {
		width: 90%;
		max-width: 1200px;
		margin: 2em;
		margin-right: auto;
		margin-left: auto;
		padding: 1em;

	}

	.story {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

/* homepage content */

	.homepagecontent{
		grid-column-start: 3;
		grid-column-end: 6;
		font-family: 'Markazi Text', serif;
		font-size: 18px;
		margin-left: 1em;
		background-image: url("../img/bluebackground.jpg");
		background-size: 300px, auto;
		background-repeat: no-repeat;
		background-position: top;
		background-position: right;
	}


	.arabic{
	font-family: 'Amiri', serif;
	color: #E0702E;
	font-size: 36px;
	grid-column: 3 / 6;
	line-height: 1em;
	}

	.header{
		font-family: 'Rakkas', cursive;
		color: #2B0A13;
		font-size: 36px;
		grid-column: 3 / 6;
		line-height: 1em;

	}

/* end homepage content */
/* navbar content */

.navbar {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	background-image: url("../img/homepage.jpg");
	height: 100%;
	max-width: 2000px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	background-size:  cover;
	background-repeat: no-repeat;
	background-position: center;

}

.navbar a{
	background: rgba(233, 191, 81, 0.75);
	padding: 1em;
	display: block;
}

.homepagenav {
	margin-top: 2em;
	margin-left: 2em;
	grid-column-start: 2;
	font-family: 'Rakkas', cursive;
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
	color: #2B0A13;
	list-style:
}

.synopsisnav{
	margin-top: 1em;
	margin-left: 2.05em;
	grid-column-start: 2;
	font-family: 'Rakkas', cursive;
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
	color: #2B0A13;
}

.translationsnav {
	margin-top: 1em;
	margin-left: 2em;
	grid-column-start: 2;
	font-family: 'Rakkas', cursive;
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
	color: #2B0A13;
}

.culturenav {
	margin-top: 1em;
	margin-left: 2em;
	grid-column-start: 2;
	font-family: 'Rakkas', cursive;
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
	color: #2B0A13;
}

.literarytechniquesnav{
	margin-top: 1em;
	margin-left: 2em;
	grid-column-start: 2;
	font-family: 'Rakkas', cursive;
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
	color: #2B0A13;
}

a:hover {
	color: #B52D1D;
}

.navbar ul{
	list-style: none;
}

/* end navbar content */
/* start synopsis content */

.synopsiscontent{
	grid-column-start: 3;
	grid-column-end: 6;
	font-family: 'Markazi Text', serif;
	font-size: 18px;
	margin-left: 1em;
	margin: 2em;
	background-image: url("../img/background.jpg");
	background-size: 300px, auto;
	background-repeat: no-repeat;
	background-position: top;
	background-position: right;
}

.synopsispq{
	font-size: 25px;
	margin-right: 0;
	margin-left: 0.5em;
	line-height: 1.25em;
	color: #B52D1D;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'Rakkas';
}

/* end synopsis content */
/* start translations content */

.translationscontent{
	grid-column-start: 3;
	grid-column-end: 6;
	font-family: 'Markazi Text', serif;
	font-size: 18px;
	margin-left: 1em;
	margin: 2em;
	background-image: url("../img/background.jpg");
	background-size: 300px, auto;
	background-repeat: no-repeat;
	background-position: top;
	background-position: right;
}

.indiantranslationpq{
	font-size: 25px;
	margin-right: 0;
	margin-left: 0.5em;
	line-height: 1.25em;
	color: #30615e;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'Rakkas';
}

.moderntranslationpq{
	font-size: 20px;
	margin-right: 0;
	margin-left: 0.5em;
	line-height: 1.25em;
	color: #E0702E;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'Rakkas';
}
/* end translations content */

/* start culture content */
.culturecontent{
	grid-column-start: 3;
	grid-column-end: 6;
	font-family: 'Markazi Text', serif;
	font-size: 18px;
	margin-left: 1em;
	margin: 2em;
	background-image: url("../img/background.jpg");
	background-size: 300px, auto;
	background-repeat: no-repeat;
	background-position: top;
	background-position: right;
}

.arabicculturepq{
	font-size: 20px;
	margin-right: 0;
	margin-left: 0.5em;
	line-height: 1.25em;
	color: #B52D1D;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'Rakkas';
}

h5{
	font-size: 25px;
}

/* end culture content*/
/* end literary techniques content*/

.literarytechniquescontent{
	grid-column-start: 3;
	grid-column-end: 6;
	font-family: 'Markazi Text', serif;
	font-size: 18px;
	margin-left: 1em;
	margin: 2em;
}


	.foreshadowingpq{
		font-size: 20px;
		margin-right: 0;
		margin-left: 0.5em;
		line-height: 1.25em;
		color: #30615e;
		margin-top: 2em;
		margin-bottom: 2em;
		font-family: 'Rakkas';
	}

	.crimefictionpq{
		font-size: 20px;
		margin-right: 0;
		margin-left: 0.5em;
		line-height: 1.25em;
		color: #E0702E;
		margin-top: 2em;
		margin-bottom: 2em;
		font-family: 'Rakkas';
	}

	.embeddednarrativepq{
		font-size: 20px;
		margin-right: 0;
		margin-left: 0.5em;
		line-height: 1.25em;
		color: #B52D1D;
		margin-top: 2em;
		margin-bottom: 2em;
		font-family: 'Rakkas';
	}
/* end culture content*/
/* start random rules*/

h3{
	font-size: 28px;
}

p{
	line-height: 20pt;
}

br{
	margin-bottom: 1em;
}
/* end random rules*/
/*lamp background image*/
.lampsimage{
	background-image: url("../img/background.jpg");
	background-size: 300px, auto;
	background-repeat: no-repeat;
	background-position: top;
	background-position: right;
}

.orangelampsimage{
	background-image: url("../img/orangebackground.jpg");
	background-size: 300px, auto;
	background-repeat: no-repeat;
	background-position: top;
	background-position: right;
}

.redlampsimage{
	background-image: url("../img/redbackground.jpg");
	background-size: 300px, auto;
	background-repeat: no-repeat;
	background-position: top;
	background-position: right;
}

.bluelampsimage{
	background-image: url("../img/bluebackground.jpg");
	background-size: 300px, auto;
	background-repeat: no-repeat;
	background-position: top;
	background-position: right;
}


} /* end media query */
